body {
    font-family: 'Roboto', sans-serif;
}

bold {
    font-weight: bold;
}

/* This gives us an easy way to make text bold within the html document */

.container-fluid .col-12 {
    margin: 0;
    padding: 0;
}

/* ensures that the container-fluid and col-12 classes do not have any initial padding*/

.mainpageimage-container {
    height: 100vh;
    width: 100%;

    background: url(../images/mainpageimage.jpg) no-repeat top right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/*Navbar*/

.logo {
    height: 2.115em;
    width: 6em;
    margin-left: -2em;
}

.contact-button {
    width: 10em !important;
    font-weight: bold !important;
}

.homepage-button {
    width: 10em !important;
    font-weight: bold !important;
}

/*Mainpage*/

.mainpage {
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 0;
}

.mainpage-h1 {
    color: white;
    font-weight: bold;
    font-size: 3.4em;
    margin-bottom: 0.8em !important;
    padding-left: 0;
    padding-right: 0;
}

.mainpage-h2 {
    color: white;
    font-size: 1em;
    font-weight: 500;
}

@media (max-width: 906px) {
    .mainpage-h1 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 568px) {
    .mainpage-h1 {
        padding-left: 0;
        padding-right: 0;
    }
}

.container-wrapper {
    padding: 0;
    margin: 0;
}

/* Email Harvester */

.email-harvester {
    background-color: #525252;
    color: #fafafa;
    margin: 0;
    padding: 0;
}

.email-box {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.email-title {
    font-size: 1.5em;
}

.email-para {
    font-size: 0.9em;
}

.email-input {}

.btn-emailharvester {
    color: #000 !important;
    width: 20em;
}

small {
    font-size: 0.4em !important;
}

.email-div {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

/* Contact */

.contact-section {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 50%;
}

.contact-form {
    padding-top: 2em;
    min-height: 15em;
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.btn-send-mail {
    margin-top: 0.4em;
    color: #000 !important;
    font-weight: bold !important;
    width: 100% !important;
}

/* Footer */

footer {
    background-color: #e6b800;
    color: #000;
    font-weight: 520;
    min-height: 120px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    padding: 2em;
    /* em ensures that padding scales with screen size */
}

.footer-container p {
    text-align: justify;
    /* by justifying the text, the <p> elements look more professional */
}

.footer-container h5 {
    font-weight: 550 !important;
    /* overrides the normal h5 boldness */
}

.social-media li a i {
    width: 35px;
    height: 35px;
    padding-top: 8px;
    border-radius: 50%;
    /* a border-radius of 50% gives us a circle */
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    /*this will be used for transitioning the items to a different color when hovered over */
}

.social-media li a i:hover {
    color: #000;
    background-color: #fff;
    /* sets the icon color to black and background color to white when hovered over */
    /* this helps distinguish the icon that will be clicked on */
}

/* Email-decoration */

.email-fade {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.email-fade:hover {
    color: #408000;
    /* gives a subtle change to the color of the email link when hovered over */
}
